<div class="main-end">
    <div>
        Identifié·e en tant que<br />
        <span class="font-weight-bold"><%= currentUserId %></span>
    </div>
    <a href="/logout">Se déconnecter</a>
</div>
</section>
</main>
<script src="/static/scripts/app-dist.js"></script>
</body>
</html>
