<div id="community" class="module hidden">
    <div class="panel" style="min-width: 100%;">
        <h3>
            Créer un compte email pour un nouveau membre de la communauté
        </h3>
    </div>
    <div class="panel" style="min-width: 100%;">
        <h3>
            Liste de membres
        </h3>
    </div>
</div>
