{{> header}}
{{#errors}}
<p style="color: red; font-weight: bold">{{.}}<p>
{{/errors}}
<style media="screen">
#message {
    max-width: 1250px;
}
</style>
<link rel="stylesheet" media="screen,print" href='/static/sortable/sortable.css'>
<script src="/static/sortable/sortable.js"></script>
<table class="sortable">
<thead>
<tr>
    <th>Email</th>
    <th>Fiche sur Github</th>
    <th>Date de fin OK</th>
    <th>Compte Email</th> 
    <th>Redirections</th>
</tr>
</thead>
<tbody>
{{#emails}}
<tr>
  <td>{{email}}</td>
  <td>{{#github}}✔ Oui{{/github}}{{^github}}❌ Non !{{/github}}</td>
  <td>{{#expired}}✔ Oui{{/expired}}{{^expired}}❌ Non !{{/expired}}</td>
  <td>{{#account}}✔ Oui{{/account}}{{^account}}Non{{/account}}</td>
  <td><ul>{{#redirections}}
    <li>{{.}}</li>
    {{/redirections}}
  </ul>
  </td> 
</tr>
{{/emails}}
</tbody>
</table>
{{> footer}}
