{{> header}}
<form action="/users">
  <p><label><b>Nom</b><br><input name="name" placeholder="prenom.nom" pattern="[a-z0-9_-]+.[a-z0-9_-]+"></label><br><br>
  <button>Vérifier l'utilisateur</button></p>
</form>
{{> footer}}
