{{> header}}
<h1>Connexion au secrétariat de BetaGouv</h1>
{{#errors}}
<p style="color: red; font-weight: bold">{{errors}}<p>
{{/errors}}
{{#message}}
<p>{{message}}</p>
{{/message}}
{{^message}}
<form action="/login" method="POST">
  <p><label><b>Saisir votre prenom.nom pour vous connecter</b><br><input name="id" placeholder="prenom.nom" pattern="[a-z0-9_-]+\.[a-z0-9_-]+" list="user_ids">@beta.gouv.fr</label><br><br>
  <datalist id="user_ids">
  {{#users}}
    <option value="{{id}}">
  {{/users}}
  </datalist>
  <button>Connexion par email</button>
  <br>(Un email sera envoyé à votre adresse pour vous connecter)</p>
</form>
{{/message}}
{{> footer}}
