<%- include('partials/header'); -%>

<% if (errors) { %>
    <p class="text-error"><%= errors %><p>
<% } else { %>  
    <h1>Votre décision a été prise en compte</h1>
<% } %>

<a href="/">
    <button>
        Accéder au sécretariat
    </button>
</a>
