<%- include('partials/nav'); -%>

<%- include('partials/modules/account'); -%>

<%- include('partials/modules/community'); -%>

</div>
</section>
</main>
</body>
</html>
<script src="/static/scripts/app.js"></script>
