<%- include('partials/header'); -%>

<div class="container container-small">

    <div class="panel margin-top-m">
        <h3>C'est tout bon !</h3>

        <p><b>Ta fiche Github <a href="<%= prUrl %>" target="_blank">a été créée</a>.</b></p>

        <% if (emailBetaAsked) { %>
          <p>Pour que ton adresse email <em>@beta.gouv.fr</em> soit créée, la personne réferente que tu as désigné (ou un autre membre de la communauté) doit merger ta fiche.

          <p>Une fois la fiche validée, tu recevras les informations de ta nouvelle adresse mail.</p>
        <% } %>

        <p>À bientôt !</p>
    </div>
</div>

<%- include('partials/footer'); -%>
