<%- include('partials/header'); -%>

<div class="container container-small">

    <div class="panel margin-top-m">
        <h3>C'est tout bon !</h3>

        <p>Ta fiche Github <a href="<%= prUrl %>" target="_blank">a été créée</a> et sera validée par un membre de la communauté.</p>
        <p>Si tu as indiqué un·e référent·e nous le notifierons par email de la création de ta fiche.</p>
        <p>Une fois la fiche validée, tu reçevra les informations de connexion à ton email <em>@beta.gouv.fr</em>.</p>
        <p>À bientôt !</p>

    </div>
</div>
