<%- include('partials/header'); -%>

<div class="container container-small">

    <div class="panel margin-top-m">
        <h3>C'est tout bon !</h3>

        <p>Ta fiche Github <a href="<%= pullRequestsUrl %>" target="_blank">a été créée</a> et sera validé par un membre de la communauté.</p>
        <p>À bientôt !</p>

        <a class="button" href="/login">Revenir à l'accueil</a>
    </div>
</div>
