<%- include('partials/header'); -%>

<div class="container container-small">

    <% if (errors.length) { %>
        <div class="notification error">
        <strong>Erreur : </strong><%= errors %>
        </div>
    <% } %>

    <div class="panel margin-top-m">
        <h4>Mot de passe oublié</h4>

        <% if (messages.length) { %>
        <div class="notification"><%- messages %></div>
        <% } else { %>
        <form action="/passwordReset/form" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
            <label for="password1">Nouveau mot de passe</label>
            <div class="input__group">
            <input name="password1" type="password" minlength="9" required>
            </div>

            <label for="password2">Confirmez votre nouveau mot de passe</label>
            <div class="input__group">
            <input name="password2" type="password" minlength="9" required>
            </div>

            <input type="hidden" name="token" value="<%= token %>" />

            <button class="button" type="submit">Réinitialiser mon mot de passe</button>
        </form>
        <% } %>
    </div>
</div>
