<%- include('partials/header'); -%>

<div class="container container-small">

  <% if (errors.length) { %>
    <div class="notification error">
      <strong>Erreur : </strong><%= errors %>
    </div>
  <% } %>

  <div class="panel margin-top-m">
    <h4>J'ai perdu mon mot de passe</h4>

    <% if (messages.length) { %>
      <div class="notification"><%- messages %></div>
    <% } else { %>
      <form action="/passwordReset" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
        <label for="email">
          <strong>Mon adresse email pro/perso</strong><br />
          Renseigne l'email secondaire que tu as mis sur le formulaire d'inscription, et non pas ton email <%= domain %>.
        </label>
        <div class="input__group">
          <input name="email" placeholder="Adresse email" required>
        </div>
        <button class="button" type="submit">Recevoir le lien de connexion</button>
        <span>Ce lien sera valable 1h.</span>
      </form>
    <% } %>
  </div>
</div>
