<%- include('partials/header'); -%>
<div class="container container-small">

<div class="panel margin-top-m">
    <h4>Email de réinitialisation envoyé</h4>

    <p>
        Vérifie ta messagerie pour réinitialiser ton mot de passe.
    </p>
  </div>

</div>
