{{> header}}
<form action="/users">
  <p>
    <label><strong>Rechercher un nom</strong><br>
    <input name="name" placeholder="prenom.nom" pattern="[a-z0-9_-]+.[a-z0-9_-]+" list="user_ids"></label><br>
    <i>Si le nom n'apparait pas en autocompletion, c'est que l'utilisateur n'existe pas sur {{domain}}</i>
  </p>
  <p>
    <button>Vérifier l'utilisateur</button>
  </p>
</form>
<datalist id="user_ids">
  {{#users}}
    <option value="{{id}}">
  {{/users}}
</datalist>
<hr />
<p>
  <form action="/marrainage" method="POST">

      <label><strong>Chercher un.e marrain.ne</strong><br>
      <label>En appuyant sur ce bouton, une personne aléatoire sera invité.e à devenir ta ou ton marrain.ne.</label><br>
      <input type="hidden" name="newcomerId" value="{{user.id}}">
      <p>
        <button>Chercher un.e marrain.ne</button>
      </p>
  </form>
</p>
{{> footer}}
