{{> header}}
<h1>{{userInfos.id}}</h1>
{{#errors}}
<p style="color: red; font-weight: bold">{{errors}}<p>
{{/errors}}
<style media="screen">
#message {
  max-width: 500px;
}
</style>
{{#messages}}
<p>
  <strong><i>{{messages}}</i></strong>
</p>
{{/messages}}

<h2>Fiche {{domain}}</h2>
{{#userInfos}}
<ul>
  <li>Nom: {{fullname}}</li>
  <li>Date de début: {{start}}</li>
  <li>Date de fin: {{end}} {{#userIsExpired}}<span style="color: red; font-weight: bold">Expiré !<span>{{/userIsExpired}}</li>
  <li>Employeur: {{employer}}</li>
  <li>Github : {{#github}}{{github}}{{/github}}
  {{^github}}Non renseigné{{/github}}</li>
</ul>
<p>
  <i>Vous pouvez modifier la fiche sur Github : <a href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/{{id}}.md">Par ici</a></i>
</p>
{{/userInfos}}
{{^userInfos}}
  Inexistante (Nécessaire pour créer le compte mail)<br>
<p>
  <i>Vous pouvez créer la fiche sur Github</i>
</p>
{{/userInfos}}

<h2>Compte mail</h2>
{{#emailInfos}}
  {{email}} ( <a href="https://mail.ovh.net/roundcube/?_user={{userInfos.id}}@{{domain}}">Webmail</a> )
  <p>Comment utiliser son compte email : <a href="https://docs.ovh.com/fr/emails/">Infos et tutos de configuration OVH</a></p>
  {{#canChangePassword}}
    <form action="/users/{{userInfos.id}}/password" method="POST">
      <fieldset>
        <legend>Changer le mot de passe POP/IMAP/SMTP</legend>
        <label>Nouveau mot de passe : <input name="new_password" type="password" required minlength="9"></label><br>
        <i>(de 9 à 30 caractères, pas d'accents, pas d'espace au début ou à la fin)</i><br>
        <button>Changer</button>
      </fieldset>
    </form>
  {{/canChangePassword}}
{{/emailInfos}}
{{^emailInfos}}
  Inexistant
{{/emailInfos}}
{{#canCreateEmail}}
<p>
  <form action="/users/{{userInfos.id}}/email" method="POST">
  <fieldset>
    <legend>Créer le compte mail</legend>
    <label>Envoyer le mot de passe à cette adresse mail : <br> <input name="to_email" type="email" required></label><br>
    <button>Créer un compte</button>
    </fieldset>
  </form>
</p>
{{/canCreateEmail}}
{{#userIsExpired}}{{^canCreateEmail}}
<p>
  <i>Le compte {{name}} est expiré</i>
</p>
{{/canCreateEmail}}{{/userIsExpired}}
{{^userIsExpired}}{{^canCreateEmail}}
<p>
  <i>Seul {{userInfos.id}} peut créer ou modifier ce compte email</i>
</p>
{{/canCreateEmail}}{{/userIsExpired}}

<h2>Redirections</h2>
<ul>
{{#redirections}}
  <li>
    {{from}} vers {{to}} {{#canCreateRedirection}}
    <form action="/users/{{userInfos.id}}/redirections/{{to}}/delete" method="POST">
      <button>Supprimer</button>
    </form>
    {{/canCreateRedirection}}
  </li>
{{/redirections}}
{{^redirections}}
   <li>Aucune</li>
{{/redirections}}
</ul>
{{#canCreateRedirection}}
<p>
  <form action="/users/{{userInfos.id}}/redirections" method="POST">
    <fieldset>
      <legend>Créer une redirection email</legend>
      <label>Rediriger les mails vers : <input name="to_email" type="email" required></label><br>
      <label><input type="checkbox" name="keep_copy" value="true"> Garder une copie des emails si un compte existe</label><br>
      <button>Créer la redirection</button>
    </fieldset>
  </form>
</p>
{{/canCreateRedirection}}
{{#userIsExpired}}{{^canCreateRedirection}}
<p>
  <i>Le compte {{name}} est expiré</i>
</p>
{{/canCreateRedirection}}{{/userIsExpired}}
{{^userIsExpired}}{{^canCreateRedirection}}
<p>
  <i>Seul {{userInfos.id}} peut créer ou modifier les redirections</i>
</p>
{{/canCreateRedirection}}{{/userIsExpired}}
{{> footer}}
