@import "/~/template.data.gouv.fr/dist/main.css";


/* override template.min.css */

body {
  background-color: var(--theme-background-grey);
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
}

.section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.hidden {
  display: none !important;
}

fieldset {
  /* border: inherit; */
  border: 2px groove rgb(192, 192, 192);
  /* margin: inherit; */
  margin-left: 2px;
  margin-right: 2px;
  /* padding: inherit; */
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  /* width: inherit; */
}


/* custom css */

/* adds a 'opens in new tab' icon */
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

#header, #footer {
  /* color: rgba(0,0,0,0.4); */
  margin: 1em;
  text-align: center;
}

.width-50 {
  width: 50%;
}

.no-margin {
  margin: 0 !important;
}
.margin-top-m {
  margin-top: var(--space-m);
}

.no-padding {
  padding: 0;
}
.padding-10 {
  padding: 10px;
}

.border-left-primary {
  border-left: 7.5px solid var(--theme-primary);
}

#dashboard {
  height: calc(100vh);
  min-height: calc(100vh);
}

#navigation {
  position: relative;
}

.main {
  overflow-y: auto;
}

.module, .notification {
  max-width: 1000px;
}

.module button.button, .module a.button {
  margin: 0;
}

.panel {
  margin-bottom: var(--space-m);
  overflow-x: auto;
}

.panel p, .panel label {
  color: #53657d;
  margin-top: 0;
}

.panel table {
  width: 100%;
  border-collapse: collapse;
}

.panel th {
  text-align: left;
}

.panel tr {
  border-bottom: solid 1px #e0e0e0;
}

h4, h5, h6 {
  margin-bottom: 10px;
}

.nav-end {
  display: block;
  padding: var(--space-s) var(--space-l);
  color: #53657d;
  font-size: 0.9em;
  position: absolute;
  bottom: 10px;
}

.main-end {
  display: none;
  padding: 0px 24px;
  margin-bottom: 24px;
}

.side-menu .nav-end a {
  padding: 0;
  text-decoration: underline;
  color: #0053b3;
}
#logo {
  padding: 32px;
  font-size: 1.25em;
  margin: 0;
  border-bottom: none;
}
.dashboard .main {
  padding: var(--space-l);
}

button.button-underline, button.button-underline:active, button.button-underline:hover {
  text-decoration: underline;
  border: none;
}

a.button[target="_blank"]::after {
  content:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAD1BMVEUAAACjo6Pn5+fDw8P///8mXC3WAAAABHRSTlMAfb49zZRSvgAAADBJREFUCNdjAAIXFxBicmFwYGAQUQGSjI4sQFJEgIHBgdmRAUgyGAAxUBZOugCBAwCrDAY9nvSvKAAAAABJRU5ErkJggg==');
}


/* media */

@media (max-width: 749px) {
  .nav-end {
    display: none;
  }

  .main-end {
    display: block;
  }

  #logo {
    padding: 10px 32px;
    font-size: 1em;
    border-bottom: solid 2px #006be6;
  }

  .dashboard .main {
    padding: 5px;
  }

  #dashboard {
    height: auto;
  }

  .main {
    overflow-y: unset;
  }
}

