Bonjour <%= user.fullname %> !  

Ton départ de la communauté beta.gouv.fr est prévu pour dans 2 jours (le <%= user.end %>). Si cette date a changé, mets-là à jour pour rester membre de la communauté.

Pour mettre à jour ta date de fin de mission, tu peux : 
- <a href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= user.id %>.md">modifier ta fiche sur Github</a>
- <a href="https://beta.gouv.fr/admin/#/collections/authors/entries/<%= user.id %>"></a>utiliser l'interface en ligne
- <a href="https://pad.incubateur.net/xAj0p9RKTPW00RUGJHtbyA">suivre la documentation</a>

Si tu as besoin d'aide, n'hésite pas à répondre à ce mail ou à poser tes questions sur Mattermost dans #incubateur-secretaria

Belle journée