name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Setup PostgreSQL
      uses: Harmon758/postgresql-action@v1.0.0
      with:
        postgresql db: postgres
        postgresql user: postgres
        postgresql password: postgres
    - run: npm install
    - run: npm run build --if-present
    - run: npm run test
      env:
        CI: true
        FEATURE_SHOULD_SEND_MESSAGE_TO_AUTHOR: true
        NEWSLETTER_HASH_SECRET: fakenewslettersecret
        OVH_APP_KEY: fakeovhkey
        OVH_APP_SECRET: fakeovhsecret
        OVH_CONSUMER_KEY: fakeconsumerkey
        SESSION_SECRET: fakesessionsecret
        SLACK_WEBHOOK_URL_SECRETARIAT: https://example.com
        SLACK_WEBHOOK_URL_GENERAL: https://example.com
        MATTERMOST_BOT_TOKEN: faketoken
        MATTERMOST_INVITE_ID: fakeid
        MAIL_PASS: fakepass
        MAIL_USER: fakeuser
        MAIL_SENDER: fake@localhost
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
        HOSTNAME: localhost
        HASH_SALT: fakesaltfortestenv
