<h1>Ton email <%= email %> est prêt !</h1>

<p>Et maintenant ? Définis un nouveau mot de passe </p>
<ul>
  <li>Étape 1 : Connecte toi sur <a href="<%= secretariatUrl %>">l'espace membre</a> avec ton email <%= secondaryEmail %></li>
  <li>Étape 2 : Definis ton mot de passe <a href="<%= secretariatUrl %>/account#password">(Mon compte > Changer mot de passe)</a>
  <li>Etape 3 : Connecte toi à ton compte OVH une première fois sur le <a href="https://mail.ovh.net/roundcube/">Webmail OVH</a></li>
</ul>

<p>Ton compte Mattermost va être automatiquement créé d'ici 10 à 15 mins, tu recevras par email les instructions pour y accéder</li>

<p>Tu peux aussi explorer la <a href="https://doc.incubateur.net/communaute/">documentation de la communauté</a> pour apprendre à nous connaître.
  Des sessions d'embarquement sont organisées tous les mois pour les nouveaux arrivants, demande quand à lieu la prochaine sur le canal Mattermost <strong>#incubateur-embarquement</strong> !
</p>

<p>Bonne journée</p>
