Chère marraine, cher parrain,
<br><br>
Tu t'es porté·e volontaire afin d'accueillir les nouveaux arrivants chez Beta et nous t'en remercions.<br><br>
Ça y est ils sont là ! Un groupe de 5 personnes vient de t'être attribué afin que tu facilites leur arrivée dans la communauté.<br><br>
<% for (var i=0; i< newcomers.length; i++) { %>
    <%= newcomers[i].fullname %> <%= newcomers[i].email %><br>
<% }%>
<br>
Nous te proposons ci-dessous quelques rappels sur ton rôle et les étapes de l'accueil des nouveaux arrivants.<br><br> 
Si tu as des questions n'hésite pas à les adresser sur le canal ~incubateur-communautéXP<br><br>
<h2>Ton rôle</h2>

Après leur recrutement les nouveaux arrivants sont intégrés à leur équipe mais sont peu souvent introduits à la communauté Beta et à l'entraide qu'elle offre.<br>
Tu es donc le premier point de contact des nouveaux arrivants au sein de la communauté après leur équipe.<br><br>
Ton rôle est de faciliter leur intégration à la communauté pour qu'ils/elles puissent socialiser, et se sentir légitimes à demander de l'aide et proposer de nouvelles choses.<br><br>
Préalablement à ton action, les nouveaux arrivants auront visualisé ces 3 vidéos envoyées dans un email de bienvenu : <br>
- Fonctionnement de Beta.gouv et des SE<br>
- Les personnes ressources de Beta<br>
- Trouver de l'info sur la doc et Mattermost<br>

<h2>Tes 2 actions</h2>
- 1 visio de bienvenue pour se présenter tous ensemble et répondre aux questions de chacun·e (notamment suite aux vidéos visionnées).<br><br>

- 1 jeudi ensemble à Ségur avec :<br>
<div style="text-indent: 0; margin: 1em;">
    - 1h ensemble avec :<br>
        <p style="text-indent: 0; margin: 2em;">
            - Un atelier pour écouter les ressentis et/ou ce qu'ils ont compris de Beta. Par exemple, leur faire écrire sur un post-it puis les regrouper sur un tableau et faire parler les auteurs des post-its. Le but est de voir leur niveau d’info, compléter si besoin et de leur donner l’opportunité d’exprimer comment ils s’y sentent.<br> 
            - Répondre aux diverses questions<br>
        </p>
    - Introduction aux co-animateurs présents et leurs rôles<br>
    - Un dej ensemble et verres le soir (si le groupe le souhaite)<br>
</div>
<h2>Recommandations : </h2>
- Convenir des créneaux avec les membres du groupe afin de garantir leur présence.<br>
- Pour l'heure de réunion à Ségur, réserver une salle de l'incubateur en mettant un post-it sur la porte mentionnant le sujet et le créneau.<br>
- Créer un groupe Mattermost pour faciliter les échanges entre vous<br>

<h2>Modalités de ton engagement</h2>
On estime la durée de ton action pour le groupe à une demi-journée : 1h de visio + 3 heures d'accueil dans les locaux.<br>
Cette demi-journée est facturée sur ta mission actuelle au titre de la participation à la communauté.<br><br>

L'equipe Communauté Expérience

